# tooling
pytest
pytest-cache
pylint
black
mypy
python-dotenv
howdoi

# vizu/images
matplotlib
Pillow
seaborn
Pygments
scikit-image
bokeh
altair
holoviews
# python3-opencv

# data science
csvkit
pandas
numpy
scipy
networkx
sklearn
statsmodels

# web
certifi
requests
beautifulsoup4
requests_html
cchardet
aiodns
aiohttp[speedups]
jinja2
Flask
Django

# bd
psycopg2-binary
psycopg[binary]
asyncpg
SQLAlchemy

# notebooks
iPython
jupyterlab
notebook